<app-popup name="add hunting" color="blue">
    <form [formGroup]="huntingForm" class="p-4 md:p-5" (ngSubmit)="onAddHunting()">
        <div class="col-span-2 sm:col-span-1">
          <label for="memberId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Members</label>
          <select formControlName="member_id" id="memberId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required="">
            <option value="">Select a member</option>
            <option *ngFor="let member of members" value="{{member.num}}">{{member.name}}  {{member.familyName}}</option>
          </select>
        </div> 
        <div class="col-span-2 sm:col-span-1">
            <label for="competition" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">competitions</label>
            <select formControlName="competition_id" id="competition" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required="">
              <option value="">Select a competition</option>
              <option *ngFor="let competition of competitions" value="{{competition.code}}">{{competition.code}}</option>
            </select>
        </div> 
        <div class="col-span-2 sm:col-span-1">
            <label for="fishId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">fishs</label>
            <select formControlName="fish_id" id="fishId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required="">
              <option value="">Select a fish</option>
              <option *ngFor="let fish of fishes" value="{{fish.name}}">{{fish.name}}</option>
            </select>
        </div>   
        <div class="col-span-2 sm:col-span-1">
          <label for="weight" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">weight</label>
          <input type="number" formControlName="averageWeight" id="weight" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required="">
      </div>
      <button type="submit" class="mt-3 text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path>
        </svg>
        Add Hunting
      </button>
      </form>
</app-popup>